.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(vcvv-min.jpg);
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  font-weight: 700;
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 26px 45px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 52px 0 0 91px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 91px -36px 60px 126px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-text-1 {
    font-family: Montserrat, sans-serif;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    font-family: "Playfair Display", serif;
  }

  .u-section-1 .u-text-3 {
    width: 770px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.25rem;
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}
